@font-face {
    font-family: Molot;
    src: url(../assets/fonts/Molot.otf);
}

@font-face {
    font-family: NexaLight;
    src: url(../assets/fonts/NexaLight.otf);
}
@font-face {
    font-family: NexaBold;
    src: url(../assets/fonts/NexaBold.otf);
}

html, body{
     max-width:100%;
     max-height:100%;
     overflow:hidden;
}

.cyb-loader{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.cyb-main-title{
	font-family: Molot;
	color:  #125dab;
	font-weight: 400;
	text-align: center;
	font-size:8vh;
	line-height:8vh !important;
	margin-top:-1px;
}

.cyb-main-title-clickable
{
	font-family: Molot;
	color:  #171a1a !important;
	font-weight: 400;
	text-align: center;
	cursor:pointer;
	font-size: 8vh;
	text-decoration:none !important;
	display:block;
	line-height:8vh !important;
	margin-top:-5px;
}

.cyb-main-avatar{
	width: 62vw;
	height: 61vh;
	margin-left:57%;	
}

.cyb-logo{
	display:block;
	margin:0 auto;
	width: 23vw;
	height: 9vh;
	margin-bottom:10% !important;
}



/* Second page */

#cyb-registration-form{
background-image:url(../assets/images/bg.png);
 background-size:contain;                      /* <------ */
 background-repeat:   no-repeat;
}

.cyb-regvatar{
	width: 69vw;
	height: 33vh;
	margin-left:15%;
	margin-bottom:5%;
}

.cyb-registration-form-text{
	font-family: NexaLight;
	color:  #125dab !important;
	font-size: 6vh;
	font-weight: 400;
	text-align: center;
}


.ui-input-text {
   border: none !important;
   box-shadow: none !important;
   background-color:transparent !important;
   border-bottom: 1px solid #125dab !important;
	font-family: NexaLight;
	color:  #125dab !important;
	font-size: 4vh;
	font-weight: 400;
	outline:none;
	border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
	margin-left:5.6% !important;
	margin-right:6.5%!important;
	margin-bottom:5vh;
	
}

.ui-input-text input{
	padding:0px !important;
	
}

input[type="button"],.ui-btn{
	background-color:  #125dab !important;
	width: 43vw!important;
	height: 4vh!important;
	font-family: NexaBold!important;
	color:  #ffffff!important;
	font-size: 5vh!important;
	font-weight: 400!important;
	text-align: center!important;
	margin-top:10% !important;
	margin-bottom:5% !important;
	border-radius:0px !important;
	display:block;
	margin:0 auto;
	line-height:5vh;
}


input.valid{
	border: 1px solid green;
}

.input-error-line{
	border-bottom-color: red !important;
}

input[type="text"].input-error-text::-webkit-input-placeholder{
color:red !important;
}

input[type="text"].input-error-text:-moz-placeholder{
color:red !important;
	
}
input[type="text"].input-error-text::-moz-placeholder{
color:red !important;
	
}
input[type="text"].input-error-text:-ms-input-placeholder {
color:red !important;

}	

::-webkit-input-placeholder {
   color: #125dab;
}

:-moz-placeholder { /* Firefox 18- */
   color: #125dab;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #125dab;  
}

:-ms-input-placeholder {  
   color: #125dab;  
}

.ui-mobile label ,.error{
	font-family: NexaLight;
	color:  red;
	font-size: 3vh;
	font-weight: 400;
	text-align: left;
	display:none ;
	margin-left:5.6%;
	
}

/* Third screen*/

.cyb-thank-title{
font-family: NexaBold;
color:  #125dab;
font-size: 7vw;
font-weight: 400;
text-align: center;
transform: scaleX(1.0005);
display:block;
margin-bottom:3vh;
}

.cyb-subtitle{
font-family: NexaLight;
color:  #125dab;
font-size: 6vw;
font-weight: 400;
text-align: center;
transform: scaleX(1.0005);
display:block;
margin-bottom:3vw;
}

.cyb-woman-avatar{
	width: 46vw;
	height: 46vh;
	margin-left:30%;
}