@font-face {
    font-family: Molot;
    src: url(../assets/fonts/Molot.otf);
}

@font-face {
    font-family: NexaLight;
    src: url(../assets/fonts/NexaLight.otf);
}
@font-face {
    font-family: NexaBold;
    src: url(../assets/fonts/NexaBold.otf);
}

body{
  font-family: NexaBold;
  display:flex;
  overflow:hidden;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
.cyb-main{
}
.cyb-woman-avatar{
	width: 28.7%vw;
	height: 8ovh;
	margin-left:12.2%;
	margin-top:9%;
	display:inline-block
}

.cyb-logo{
	width: 9.9%;
	height: 11.8%;
	right: 0px;
    position: fixed;
    margin-right: 3.1%;
    margin-top: 4.1%;
}

.cyb-title{
	display: flex;
	flex-direction:column;
	justify-content:center;
	
}	
.bold{
	font-weight:bold !important;
	font-size:60px !important;
	color:black;
}

.cyb-content,.cyb-winner{
font-family: NexaBold;
color:  #125dab;
font-size: 52.46px;/* Approximation due to font substitution */
font-weight: 400;
line-height: 188px;/* Approximation due to font substitution */
text-align: center;
transform: scaleX(1.0005);/* width and height properties ommitted due to transform */
}

.cyb-winner{
	display:none;
	font-size:50px !important;
	align-self:center;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #125dab;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: white;
    display: inline-block;
	color:black;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}